h1{
    background-color: aqua;
    text-align: center;
}
.input{
    height: 29px;
    font-size: 20px;
    cursor: pointer;
    /* background-color: azure; */
    border-radius: 5%;
    border: 2px solid black;
}
.btn-1 {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  display: inline;
}

.btn-1:hover {
  opacity: 0.8;
}
li a{
    text-decoration: none;
}